@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    .avatar {
        align-self: flex-start;
        border-radius: 10px;
        margin-right: 25px;
        height: auto;
        width: 80px;
    }
    .likes {
        margin-top: 10px;
    }
    &-text {
        max-width: 70%;
        padding: 10px;
        font-family: monospace;
        word-break: break-all;
        color: black;
        background: white;
        border-radius: 15px;
        .check-is-viewed {
            display: flex;
            margin-top: 5px;
            font-size: 10px;
            align-items: flex-end;
            justify-content: flex-end;
            color: #00b8ff;
        }
        .loading {
            color: transparent;
            background: linear-gradient(-45deg, #cbcfd4, #c9dff6, #f3f5f6, #c9dff6);
            background-size: 400% 400%;
            animation: gradient 1s ease infinite;
        }
    }
    &+.message {
        margin-top: 15px;
    }
    &.my {
        flex-direction: row-reverse;
        .avatar {
            margin-right: 0px;
            margin-left: 25px;
        }
    }
}

@media(max-width: 992px) {}

@media(max-width: 576px) {
    .message {
        .avatar {
            margin-right: 15px;
            width: 50px;
        }
        &-text {
            max-width: 90%;
        }
        &.my {
            .avatar {
                margin-left: 15px;
            }
        }
    }
}