.button {
    cursor: pointer;
    outline: none;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    background-color: #00B8FF;
    border: none;
    border-radius: 3px;
    &:active {
        transform: scale(0.9);
    }
    &:disabled,
    &[disabled] {
        cursor: auto;
        color: black;
        background-color: #fff !important;
        border: 1px solid black;
    }
}