.messages {
    overflow: auto;
    height: 50vh;
    grid-area: messages;
    /* хром, сафари */
    &::-webkit-scrollbar {
        width: 0;
    }
    /* ie 10+ */
    &.element {
        -ms-overflow-style: none;
    }
    /* фф (свойство больше не работает, других способов тоже нет)*/
    &.element {
        overflow: -moz-scrollbars-none;
    }
    .no-messages {
        height: 100%;
        font-family: monospace;
        text-shadow: 3px 2px 2px #f92b66, -2px -2px 2px #17a2b8;
        font-size: 40px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 992px) {}

@media(max-width: 576px) {}