.content {
    color: white;
    padding: 25px;
    background-color: #001935;
    grid-area: content;
    .container {
        max-width: 990px;
        padding: 0;
        box-sizing: border-box;
        margin: 0 auto;
    }
}

@media(max-width: 576px) {
    .content {
        color: white;
        padding: 15px 10px;
    }
}