.friend {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .avatar {
        margin-right: 20px;
        background-color: #fff;
        border-radius: 10px;
        height: 50px;
        width: auto;
    }
    .name {
        color: white
    }
    .status {
        color: rgba(255, 255, 255, 0.568);
    }
}

@media(max-width: 992px) {}

@media (max-width: 768px) {}

@media(max-width: 576px) {}