.description {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    .skills,
    .about-me {
        white-space: pre-wrap;
        /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        margin-top: 0px;
        text-align: left;
    }
    .socials {
        margin-left: -10px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7px;
            border: 1px solid white;
            border-radius: 10px;
            background-color: transparent;
            margin-bottom: 10px;
            &:hover {
                transform: scale(1.1);
            }
            &:active {
                border-color: #00b8ff;
                a {
                    color: #00b8ff
                }
            }
            a {
                line-height: 0;
                font-size: 30px;
                color: white;
            }
            margin-left: 10px;
        }
    }
    .status {
        user-select: none;
        &-text {
            margin-bottom: 10px;
            cursor: pointer;
        }
        &-edit {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .button {
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 15px;
    }
    form {
        div {
            margin-top: 10px;
        }
        text-align: center;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input {
        font-family: monospace;
        background-color: white;
        height: 20px;
        padding: 10px;
        transition: background-color .25s ease;
        width: 230px;
        border: 1px solid white;
        border-radius: 3px;
        color: black;
        overflow: hidden;
        &:active,
        &:hover,
        &:focus {
            color: white;
            background-color: #fff;
            background-color: transparent;
        }
        &.looking-for-a-job-descr,
        &.about-me {
            overflow-y: scroll;
            resize: none;
            height: 100px;
        }
    }
    label {
        margin-top: 10px;
        div {
            margin-top: 0;
            .looking-for-a-job {
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
        }
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

@media(max-width: 576px) {
    .description {
        align-items: center;
        text-align: center;
        z-index: 2;
        padding: 20px;
        line-height: 20px;
        .socials {
            justify-content: center;
        }
    }
}